.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    padding: 44px 72px 140px 72px;
  
    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-self: center;
    
        max-width: 413px;
    
        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 137%;
            color: #806666;
    
            margin-bottom: 40px;
        }
    
        h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 137%;
            color: #2E2E2E;
    
            margin-bottom: 16px;
        }
    
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #737373;
        }
    }
  }