.spaces {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;

	&__content {
		display: flex;
		flex-flow: column nowrap;
		padding: 42px 0 42px 72px;

		> h2 {
			font-family: Poppins, sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 137%;
			color: #806666;
			margin: 0;
			margin-bottom: 40px;
		}
	}
}
