$box-shadow: 0 1px 2px rgb(231 232 239 / 30%), 0 2px 6px rgb(159 161 164 / 15%);

.slider-card {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
	border-radius: 80px;
	padding-right: 10px;
	box-shadow: $box-shadow;

	&__image {
		width: 100%;
		height: 496px;
		border-radius: 80px;
		position: relative;
	}

	&__text {
		position: absolute;
		background: #fff;
		border-radius: 60px;
		width: 384px;
		height: 432px;
		margin: 32px;
		padding: 24px;

		> h1 {
			color: #474747;
			margin: 0;
			margin-bottom: 16px;
		}

		> p {
			font-family: sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: #737373;
			margin: 0;
			margin-bottom: 28px;
		}

		> input {
			width: 100%;
			height: 52px;
			background: #fff;
			border: 1px solid #737373;
			border-radius: 54px;
			margin-bottom: 16px;
		}
	}
}
