.body-container {
	padding: 0;
	margin: 0 !important;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;

	* {
		box-sizing: border-box;
	}

	/* stylelint-disable-next-line selector-id-pattern */
	#__next {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	p {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
	}

	h1,
	h2,
	h3 {
		font-family: Poppins, sans-serif;
		font-style: normal;
		font-weight: 500;
		line-height: 137%;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	@media (prefers-color-scheme: dark) {
		html {
			color-scheme: dark;
		}

		body {
			color: white;
			background: black;
		}
	}
}
