$color-lightest: #fff9f7;
$color-medium: #e8cabf;
$color-dark: #806666;
$bg-color-lightest: $color-lightest;
$bg-color-medium: $color-medium;
$bg-color-dark: $color-dark;
$box-shadow: 0 1px 2px rgb(231 232 239 / 30%), 0 2px 6px rgb(159 161 164 / 15%);
