$bg-color--dark: #806666;

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 288px;
    
    background-color: $bg-color--dark;
    justify-content: space-between;
    align-items: center;
    
    
    &__information {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;

        justify-content: space-between;
        padding: 54px 104px 54px 72px;

        h4 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 137%;
            color: #FDFDFD;
            margin: 0;
            margin-bottom: 24px;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #FDFDFD;
            margin-bottom: 24px;
        }
    }

    &__image {
        height: 100%;
        width: 93px;
        background: url(../../assets/brand/occri-icon.svg) no-repeat;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}