.events-advert {
	display: flex;
	padding: 42px;

	&__content {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		background: #fff;
		box-shadow: 0 1px 2px rgb(231 232 239 / 30%), 0 2px 6px 2px rgb(159 161 164 / 15%);
		border-radius: 94px;

		&__description {
			padding: 24px 88px;

			> h1 {
				color: #2e2e2e;
				margin: 0;
				margin-bottom: 16px;
			}

			> p {
				font-family: sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 155%;
				color: #595959;
				margin: 0;
			}
		}

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 24px 88px;
			background: #fff9f6;
			border-radius: 94px;
			max-width: 509px;
		}
	}
}
